<footer>
  <p>Official Website of Gaelle Tohme</p>
  <ul aria-label="Social links">
    <li>
      <a href="https://www.instagram.com"
        ><img
          src="images/vecteezy_instagram-logo-png-instagram-icon-transparent_18930692.png"
          alt=""
          width="32"
          height="32"
        />Instagram</a
      >
    </li>
    <li>
      <a href="https://www.facebook.com"
        ><img
          src="images/vecteezy_facebook-logo-png-facebook-icon-transparent-png_18930707.png"
          alt=""
          width="32"
          height="32"
        />Facebook</a
      >
    </li>
    <li>
      <a href="https://www.pinterest.com"
        ><img
          src="images/vecteezy_pinterest-logo-png-pinterest-transparent-png_18930467.png"
          alt=""
          width="32"
          height="32"
        />Pinterest</a
      >
    </li>
  </ul>
</footer>
