<!DOCTYPE html>
<html>
    <head>
        <title>
            ForYou
        </title>

        <link rel="stylesheet" href="foryou.css"/>
        <link rel="icon" href="./images/favicon.ico"/>
        <img src="./images/favicon.ico" class="favicon"/>

        <a href="/" class="home">Home</a>

    </head>

    <body>

        <nav>
            <div id="search-container">
                <form action="/search" method="get">
                    <input type="text" name="query" class="search-box" placeholder="Search your style...">
                    <button type="submit" class="search-button"><img src="./images/magnifiying-glass_93642.png" class="search-icon"/></button>
                </form>
            </div>
        </nav>

        <section id="foryou" class="categories">
            <div>
            <div id="headings">
                For You
                <div>
                    <ul>
                        <li><a href="https://www.pinterest.com/pin/11118330327297516/"><img src="./images/_ (4).jpeg" alt="first pick" class="pic"></a></li>
                        <li><a href="https://www.pinterest.com/pin/582653270570129221/"><img src="./images/ðŸ–¤.jpeg" alt="seconf pick" class="pic"/></a></li>
                        <li><a href="https://www.pinterest.com/pin/625648573252375298/"><img src="./images/ðŸ¸.jpeg" alt=" third pick" class="pic"/></a></li>
                        <li><a href="https://www.pinterest.com/pin/812618326543986052/"><img src="./images/c41a4ffd-cb1d-45a2-bf14-7bafed2cee26.jpeg" alt="fourth pick" class="pic"/></a></li>
                    </ul>
                </div>
            
            </div>
        </section>
        <br>
        <section class="categories">
            <div>
                <ul>
                    <li><a href="https://www.pinterest.com/pin/711216966191127648/"><img src="./images/Summer Work Outfits 2024_ Chic Styles & Trends for Women.jpeg" alt="first pick" class="pic"></a></li>
                    <li><a href="https://www.pinterest.com/pin/7036943161631118/"><img src="./images/FOUNDER PANT curated on LTK.jpeg" alt="seconf pick" class="pic"/></a></li>
                    <li><a href="https://www.pinterest.com/pin/658581145529504257/"><img src="./images/ðŸŒ¸.jpeg" alt=" third pick" class="pic"/></a></li>
                    <li><a href="https://www.pinterest.com/pin/699254279673177548/"><img src="./images/_ (5).jpeg" alt="fourth pick" class="pic"/></a></li>
                </ul>
            </div>
    </section>
        
        <br>
        <section id="moreideas" class="categories">
            <div id="headings">
                More Ideas
            </div>
            <div>
                <div>
                    <ul>
                        <li><a href="https://www.pinterest.com/pin/2040762327160231/"><img src="./images/303852e1-17e8-4697-9be8-5ee2395b4e3e.jpeg" alt="first pick" class="pic"></a></li>
                        <li><a href="https://www.pinterest.com/pin/97108935731750004/"><img src="./images/6528f5d6-56f7-4afb-8391-f3fd1b840d67.jpeg" alt="seconf pick" class="pic"/></a></li>
                        <li><a href="https://www.pinterest.com/pin/643029653074147189/"><img src="./images/8e333ff0-76e2-4595-8c2c-bdbaf4c22be6.jpeg" alt=" third pick" class="pic"/></a></li>
                        <li><a href="https://www.pinterest.com/pin/38210296831207592/"><img src="./images/MIDI skirt.jpeg" alt="fourth pick" class="pic"/></a></li>
                    </ul>
                </div>
                <br>
                <section class="categories">
                    <div>
                        <ul>
                            <li><a href="https://www.pinterest.com/pin/2040762327160231/"><img src="./images/303852e1-17e8-4697-9be8-5ee2395b4e3e.jpeg" alt="first pick" class="pic"></a></li>
                            <li><a href="https://www.pinterest.com/pin/97108935731750004/"><img src="./images/6528f5d6-56f7-4afb-8391-f3fd1b840d67.jpeg" alt="seconf pick" class="pic"/></a></li>
                            <li><a href="https://www.pinterest.com/pin/643029653074147189/"><img src="./images/8e333ff0-76e2-4595-8c2c-bdbaf4c22be6.jpeg" alt=" third pick" class="pic"/></a></li>
                            <li><a href="https://www.pinterest.com/pin/38210296831207592/"><img src="./images/MIDI skirt.jpeg" alt="fourth pick" class="pic"/></a></li>
                        </ul>
                    </div>
            </section>
            </div>
        </section>

        <div class="iconbutton">
            <a href="#foryou">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" width="63px">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              <!--Add the code here for the logo to appear and the icon to be actionable-->
            </a>
          </div>
    </body>
</html>